
html{
  font-family:"Montserrat" !important;
}
body{
  font-family: "Montserrat" !important;
  text-transform: uppercase;
}
.vertical-nav-menu li a span{
font-weight: normal !important;
}
.side-icon{
  background: url('../images/side-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 28px;
  height: 20px;
}
.side-bg-color {
  background-color: rgb(21, 32, 66) !important;
  box-shadow: 0px 4px 2.91px 0.09px rgba(0, 0, 0, 0.06);
}
.pattren-overlay {
  background-image: url('../images/pattern.png');
}
.ico{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block;
  margin-right: 10px ;
  width: 20px;
  height: 20px;
}
.icos{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block;
  margin-right: 10px ;
  width: 30px;
  height: 30px;
}
.icos-10{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block;
  margin-right: 10px ;
  width: 15px;
  height: 15px;
}
.icos-30{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  display: inline-block;
  margin-right: 0px;
  width: 30px;
  height: 30px;
}
.ico-addpro{
  background: url('../images/addpro.png');
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
} 
.ico-arrowup{
  background: url('../images/arrowup.png');
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
}
.ico-arrowdown{
  background: url('../images/arrowdown.png');
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
}
.ico-fullscreen{
  background: url('../images/fullscreen.png');
  vertical-align: middle;
}
.ico-edit{
  background: url('../images/edit.png');
  vertical-align: middle;
}
.ico-cross{
  background: url('../images/cross.png');
  vertical-align: middle;
}
.icos-myaccount{
  background: url('../images/myaccount.png');
  vertical-align: middle;  
}
.icos-spendes{
  background: url('../images/spendes.png');
  vertical-align: middle;  
}
.icos-savings{
  background: url('../images/savings.png');
  vertical-align: middle;  
}
.icos-mycards{
  background: url('../images/mycards.png');
  vertical-align: middle;  
}
.icos-cashflow{
  background: url('../images/cashflow.png');
  vertical-align: middle;  
}
.icos-payments{
  background: url('../images/payments.png');
  vertical-align: middle;  
}
.ico-home{
  width: 28px;
  height: 25px;
  background-image: url('../images/home.png');
  vertical-align: text-bottom;
}
.ico-account{
  background: url('../images/account.png');
  vertical-align: middle;
}
.ico-cardmangment{
  background: url('../images/cardmangment.png');
  vertical-align: middle;
}
.ico-funds{
  background: url('../images/funds.png');
  vertical-align: middle;
}
.ico-mobilebills{
  background: url('../images/mobilebills.png');
  vertical-align: middle;
}
.ico-feedback{
  background: url('../images/feedback.png');
  vertical-align: middle;
}
.ico-amims{
  background: url('../images/amims.png');
  vertical-align: middle;
}
.ico-alert{
  background: url('../images/alert.png');
  vertical-align: middle;
}
.ico-activity{
  background: url('../images/activity.png');
  vertical-align: middle;
}
.ico-profile{
  background: url('../images/profile.png');
  vertical-align: middle;
}
.ico-feedbackmessage{
  background: url('../images/feedbackmessage.png');
  vertical-align: middle;
}
.ico-cable{
  background: url('../images/cable.png');
  vertical-align: middle;
}
.ico-mobile{
  background: url('../images/mobile.png');
  vertical-align: middle;
}
.ico-eletrictiy{
  background: url('../images/eletrictiy.png');
  vertical-align: middle;
}
.ico-internet{
  background: url('../images/internet.png');
  vertical-align: middle;
}
.ico-user{
  background: url('../images/avatars/1.jpg');
  vertical-align: middle;
  border-radius: 50px;
}
.ico-Complaint{
  background: url('../images/complent.png');
  vertical-align: middle;
}
.ico-notification{
  background: url('../images/notif.png');
  vertical-align: middle;
}
.ico-fav{
  background: url('../images/favstar.png');
  vertical-align: middle;
}
.ico-logout{
  background: url('../images/logout.png');
  vertical-align: middle;
}
.border-bottom-dashed{
  border-bottom: 1px dashed rgba(233, 237, 245, 0.78);
}
.l-height{
  line-height: 35px !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #627e91;
  color: transparent;
  font-size: 10px;
}
.vertical-nav-menu ul>li>a.mm-active i.l-height{
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: transparent ;
  color: #ffd800;
}
.padding-y{
  padding: 20px 10px !important
}
.vertical-nav-menu li a{
  padding: 0 10px;
}
.vertical-nav-menu li ul li a:hover{
  background: transparent !important;
}
.main-heading{
  color: #627e91;
  font-size: 12px;
  font-weight: 300;
}
.main-heading strong{ 
  color: #000;
  font-size: 12px;
  font-weight: 300;
}
.main-heading span strong{ 
  color: #000;
  font-size: 10px;
  font-weight: 300;
}
.font-decress , .font-decress strong{
  font-size: 10px !important;
  padding: 10px 0px 0 0;
  width: 57%;
}
.arrow-color{
  color: #323436;
  font-size: 14px;
  vertical-align: middle;
}
.fav-wrapper{
  width: 60px;
  height: 60px;
}
.fav-wrapper button{
  width: 100%;
  height: 60px;
  border-radius: 0;
  border-right: 1px solid #ccc;
}
.fav-wrapper button span{
  width: 100% !important;
  height: 60px !important;
  border-radius: 0 !important;
}
.fav-wrapper button span>span{
  background: transparent;
}

.fav-wrapper .btn .badge-dot.badge-dot-sm {
  width: 15px !important;
  height: 15px !important;
  border-width: 1px;
  border-radius: 50% !important;
  color: #fff;
  display: block;
}
.fav-wrapper .btn .badge-dot.yellow {
  background: #fbd500;
}
.fav-wrapper .btn .badge-dot.red {
  background: #f81720;
}
.header-dots .fav-wrapper  .icon-wrapper-alt .badge-dot {
  border: 0;
  transform: translate(-100%, 100%);
}
.bg-pattren{
  background: url('../images/bgpattren.png') !important;
}
.titles-heading{
  font-size: 18px;
  font-weight: 500;
  color: #21445d;
}
.bg-greenshade{
  background: #f6f8fa;
}
.bg-greenshade  button{
  height: 100%;
  text-align: right;
  width: 100%;
  background: transparent;
  border: 0;
  padding: 10px;
  color: #96aabc;
  font-size: 9px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
}
.bg-greenshade  button i{
  font-size: 12px;
  vertical-align: text-bottom;
}
.simple-btn{
  background: transparent;
  border: 0;
  text-align: center;
  color: #ced2d5;
  font-size: 24px;
}
.myaccount-content h1{
  color: #00d46e;
  font-size: 35px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}
.myaccount-content h1 span{
  font-size: 20px;
  margin: 0;
  font-family: "Montserrat";
}
.myaccount-content h2{
  color: #001c35;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-family: "Montserrat";
}
.myaccount-content h3{
  color: #94b1c8;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-family: "Montserrat";
}
.circle-box{
  text-align: center;
}
.circle-box h4{ 
  color: #90b4d1;
  font-size: 9px;
}
.circle-box h5{ 
  font-size: 14px;
}
.border-right{
  border-right: 1px solid #ccc;
}
.border-bottom{
  border-bottom: 1px solid #ccc;
}
.circle-box .progress-circle-wrapper{
  margin: 17px 14px 0px 14px;
  padding-bottom: 10px;
}
.vertical-alignb{
  vertical-align: bottom;
}
.chart-box{

}
.chart-box h5{
font-size: 11px;
color: #90b4d1;
font-weight: 300;
margin: 0;
text-transform: uppercase;
margin-top: 10px !important;
margin-bottom: 10px;
}
.chart-box h6{
  font-size: 18px;
  color: #204562;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.dot{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.orange-dot{
  background: #ff880a;
}
.green-dot{
  background: #00d46e;
}
.purpul-dot{
  background: #ea04ff;
}
.yellow-dot{
  background: #ffd800;
}
.red-dot{
  background: #ed1c24;
}
.spendings-table{

}
.spendings-table tbody tr.border-0 td , .spendings-table tbody tr.border-0 th{
  border: 0;
}
.spendings-table tbody tr td:nth-child(2){
  text-align: left;
  color: #90b4d1;
  font-size: 10px;
  font-weight: 400;
}
.spendings-table tbody tr td{
  text-align: right;
  color: #204562;
  font-size: 10px;
  font-weight: 400;
}
.report-data{
  margin: 0 auto;
  width: 90%;
  margin-top: 13px;
}
.report-data h5{
  text-align: left;
  color: #90b4d1;
  font-size: 9px;
  margin-bottom: 15px;
}
.report-data h6{
  text-align: left;
  font-size: 16px;
}
.left-heading , .right-heading{
  color: #153a54;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.bg-blue{
  background: #72aacb;
}
.canvasjs-chart-credit{
  display: none !important;
}
.pie-Spending{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
}
.card1{
  width: 100%;
  background: #36bfbb;
  border-radius: 10px;
  height: 100%;
}
.card-logo img{
height: 20px;
}
.logo-btn button{
height: 20px;
}
.card-btn button i{
  vertical-align: super;
}
.title-heading{
  color: #b8e0ff;
  font-size: 12px;
  font-weight: 200;
  display: block;
}
.title-name{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.card-dots{
  height: 20px;
}
.card-dots i{
  vertical-align: super;
}
.master-card img{
  height: 25px;
  vertical-align: text-bottom;
  margin-top: 13px;
  margin-bottom: 4px;
}
.bg-card-2{
  background: #467e9f;
}
.text-capitalize span{
  text-transform: uppercase;
}
.payment-reminders{

}
.payment-reminders tbody tr td div.p-title{
  color: #153a54;
  font-weight: 300;
  font-size: 10px;
}
.payment-reminders tbody tr td div.valid-date{
  color: #26d77a;
  font-weight: 300;
  font-size: 9px;
}
.payment-reminders tbody tr td div.status{
  color: #9ab1c2;
  font-weight: 300;
  font-size: 8px;
}
.payment-reminders tbody tr td div.due-date{
  color: #ff0000;
  font-weight: 300;
  font-size: 9px;
}
.payment-reminders tbody tr td div.amount{
  color: #153a54;
  font-weight: 700;
  font-size: 12px;
}
.payment-reminders tbody tr td div.paynow button{
  background: #002b9a;
  color: #fff;
  font-size: 8px;
  border-radius: 5px;
  font-weight: 500;
  border: 0;
  padding: 5px 12px;
}
.payment-reminders tbody tr td div.paynow {
  text-align: center; 
}
.payment-reminders tbody tr td{
  text-align: left;
}
button{
  cursor: pointer !important;
}
.no-border td{
  border: 0;
}
.apexcharts-toolbar{
  display: none;
}
.apexcharts-canvas{
  left: -10px;
}




